<nav class="navbar navbar-dark bg-dark flex-row">
    <!-- Navbar content -->
   
       
            <a class="nav-link" [routerLink]="['#']" routerLinkActive="active"><h1>BOOTCamp</h1></a>
        
        
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        
        
          <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active">register</a>
        
     
    </nav>
 
  <div class="container">
    <h1>Rose image</h1>
     <router-outlet></router-outlet>
</div>
   
   
   
  
     
